
* {
    padding: 0;
    margin: 0;
}

html, body {
    overflow: hidden;
    height: 100%;
    font-family: monospace;
    background-image: url(../img/sky.png);
}

#info {
    text-align: center;
    color: #ddd;
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 15px 10px;
    background-color: rgba(66, 66, 66, 0.8);
    border-radius: 10px;
}

#info a {
    color: #ccc;
}